@import url('https://fonts.googleapis.com/css?family=Amaranth|Shadows+Into+Light+Two|family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
font-family: 'Amaranth', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Baloo Tammudu', cursive;

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 150px;
  margin: 1%;
  border-radius: 5em;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 2em;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  display: flex;
  justify-content: center;
}

/* Want to stop snowman from spinning */
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.letter-button {
  border: 2px solid darkblue;
  flex-wrap: wrap;
  text-align: center;
  margin: 2px; 
  width: 3em;
  border-radius: 5em;
  font-family: 'Baloo Tammudu', cursive;
  font-size: 2em;

}

.letter-button:hover {
  background: darkblue;
  color: white;
}

.letter-picked-container {
  /* border: 3px solid blue; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1em;
  font-family: 'Baloo Tammudu', cursive;
  font-size: 2em;
}

.letter-picked-container > span {
  color: white;
}

.letter-picked-container > div {
  border: 2px solid darkblue;
  background: red;
  color: white;
  text-align: center;
  margin: 1px; 
  width: 1em;
  border-radius: 2em;
  font-family: 'Baloo Tammudu', cursive;
  font-size: 25px;
}
